<!doctype html>
<html lang="en" data-critters-container>
  <head>
    <meta charset="utf-8">
    <title>IntelnexoTest</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles-5INURTSO.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <app-navbar></app-navbar>       
    <h1>Probando conexión con index</h1>
    <script src="polyfills-RT5I6R6G.js" type="module"></script>
    <script src="main-XK4ZX6OV.js" type="module"></script>
  </body>
</html>
